<footer class="bg-white text-muted pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-layer-group me-3"></i>ProjectName
                </h6>
                <p>
                    Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                <p><a href="#" class="text-reset">Django</a></p>
                <p><a href="#" class="text-reset">Bootstrap</a></p>
                <p><a href="#" class="text-reset">Python</a></p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                <p><a href="#" class="text-reset">Pricing</a></p>
                <p><a href="#" class="text-reset">Settings</a></p>
                <p><a href="#" class="text-reset">Help</a></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope me-3"></i> info@example.com</p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            </div>
        </div>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; {% now "Y" %} Your Company Name. All Rights Reserved.
        <div class="mt-2">
            <a href="#" class="text-reset me-4 footer-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-reset me-4 footer-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-reset me-4 footer-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-reset me-4 footer-icon"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
